
{% extends 'web/layout/docLayout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
<title>
 入门小白了解stable diffusion
</title>
{% endblock %}
{% block tableOfContents %}
<nav class="nav nav-pills flex-column">
 <a class="nav-link table_of_contents-indent-0" href="#f2cf1f13-bfbe-4f0a-b0fb-e897a2d0772a">
  <strong>
   什么是Stable Diffusion
  </strong>
  😯
 </a>
 <a class="nav-link table_of_contents-indent-0" href="#a29383a7-3b08-4b77-ac3a-4e8d74cc10b1">
  <strong>
   你可以使用 stable diffusion 做什么
  </strong>
  🤖
 </a>
 <nav class="nav nav-pills flex-column">
  <a class="nav-link table_of_contents-indent-1" href="#c5cc7563-69f2-4452-a404-9040e7b92924">
   从文字生成图像)
  </a>
  <a class="nav-link table_of_contents-indent-1" href="#_49c77f15-7339-425d-8b7e-4fff9f944fad">
   从图像生成图像
  </a>
  <a class="nav-link table_of_contents-indent-1" href="#_332cbc2c-7e7c-45a0-ba09-61526a71d5ef">
   局部重绘图像
  </a>
  <a class="nav-link table_of_contents-indent-1" href="#_17fe8fa2-80b1-42e2-9452-73b46af384d5">
   扩展图像
  </a>
  <a class="nav-link table_of_contents-indent-1" href="#fa55a5a4-db01-4df1-b8f3-fb22860511d7">
   创建动画
  </a>
 </nav>
 <a class="nav-link table_of_contents-indent-0" href="#_06afc10d-2a55-4ae5-a3f4-7f9246d36c13">
  <strong>
   <strong>
    <strong>
     <strong>
      <strong>
       <strong>
        <strong>
         <strong>
          <strong>
           <strong>
            <strong>
             <strong>
              <strong>
               <strong>
                <strong>
                 <strong>
                  <strong>
                   <strong>
                    <strong>
                     <strong>
                      <strong>
                       <strong>
                        <strong>
                         <strong>
                          <strong>
                           <strong>
                            <strong>
                             <strong>
                              <strong>
                               <strong>
                                <strong>
                                 <strong>
                                  <strong>
                                   <strong>
                                    <strong>
                                     <strong>
                                      <strong>
                                       <strong>
                                        <strong>
                                         <strong>
                                          如何使用 stable diffusion
                                         </strong>
                                        </strong>
                                       </strong>
                                      </strong>
                                     </strong>
                                    </strong>
                                   </strong>
                                  </strong>
                                 </strong>
                                </strong>
                               </strong>
                              </strong>
                             </strong>
                            </strong>
                           </strong>
                          </strong>
                         </strong>
                        </strong>
                       </strong>
                      </strong>
                     </strong>
                    </strong>
                   </strong>
                  </strong>
                 </strong>
                </strong>
               </strong>
              </strong>
             </strong>
            </strong>
           </strong>
          </strong>
         </strong>
        </strong>
       </strong>
      </strong>
     </strong>
    </strong>
   </strong>
  </strong>
  🥸
 </a>
 <nav class="nav nav-pills flex-column">
  <a class="nav-link table_of_contents-indent-1" href="#_1fedb8e6-09c8-4f8a-a079-75ab0cbc2834">
   免费网站推荐
  </a>
  <a class="nav-link table_of_contents-indent-1" href="#c62fbcb7-13f1-4038-9f5a-13beaa54e4dd">
   本机部署
  </a>
 </nav>
 <a class="nav-link table_of_contents-indent-0" href="#_0405f992-451d-462f-a070-44763fb29d94">
  <strong>
   安装提示词(prompts)翻译
  </strong>
  ⚙️
 </a>
 <a class="nav-link table_of_contents-indent-0" href="#_233be5f5-d26e-4e18-97d7-3aa46a3e3fd2">
  <strong>
   安装汉化插件
  </strong>
  ⚙️
 </a>
</nav>
{% endblock %}
{% block content %}
<article class="page sans" id="723118a6-be82-4779-bfc3-24db47dad667">
 <header>
  <a href="https://www.bilibili.com/video/BV1sh4y1P7dr/?spm_id_from=333.999.0.0&amp;vd_source=6d9056633e4377fac2f64cee981a5dc5" target="_blank">
   <img class="page-cover-image" src="{% static imgUrlPrefix %}/Snipaste_2023-10-09_20-52-12.png" style="object-position:center 73.21%"/>
  </a>
  <div class="page-header-icon page-header-icon-with-cover">
   <img class="icon" src="https://www.notion.so/icons/castle-japanese_brown.svg"/>
  </div>
  <h1 class="page-title">
   <strong>
    入门小白了解stable diffusion
   </strong>
  </h1>
  <p class="page-description">
  </p>
 </header>
 <div class="page-body">
  <h1 class="" id="f2cf1f13-bfbe-4f0a-b0fb-e897a2d0772a">
   <strong>
    什么是Stable Diffusion
   </strong>
   😯
  </h1>
  <blockquote class="" id="0d5e13f7-51fb-4df4-9fcf-93c60cdda2c7">
   相信大家决定入手此教程的时候就已经通过网上的各种AI绘画的视频了解到了stable diffusion的作用了。简而言之，就是通过文字描述你想得到的图片，然后交给stable diffusion得到你想要的图片，这直接就使得一堆设计师拍案叫绝，我花一天P的图片，stable diffusion这小子仅仅十几秒（当然这是由你的电脑配置来决定的）就搞定了。例如：
   <figure class="image" id="6c341231-aaf3-4004-b62a-ff53eb1d1dba">
    <a data-bs-target="#largerImgModal_6c341231-aaf3-4004-b62a-ff53eb1d1dba" data-bs-toggle="modal" href="">
     <img src="{% static imgUrlPrefix %}/Untitled.png" style="width:384px"/>
    </a>
   </figure>
  </blockquote>
  <blockquote class="" id="87eced28-dc75-4616-801d-85f3fffe6079">
   那如果仅仅只有文字生成图片(text to image)这个功能，那么咱们这个教程系列很快就结束了。其实，stable diffusion自从由国外的 Stability AI 公司于2022年8月22日开源以来，已经发展出了强大丰富的stable diffusion生态系统：
   <figure class="image" id="3e27d9f6-6e6a-43a1-ab82-bf21fb39cdbf">
    <a data-bs-target="#largerImgModal_3e27d9f6-6e6a-43a1-ab82-bf21fb39cdbf" data-bs-toggle="modal" href="">
     <img src="{% static imgUrlPrefix %}/Untitled-2023-08-08-2017.svg" style="width:384px"/>
    </a>
   </figure>
   <p class="" id="5700f198-e04c-4f77-8bc9-bd1a507bd40f">
    例如最近很火的艺术二维码，AI模特衣服试穿，AI视频AI换脸在丰富的生态系统里也都仅仅只是星辰一粟而已），凡是跟图片有关系的，生态系统里都能找到
   </p>
  </blockquote>
  <blockquote class="" id="843e9796-b4c0-4cbc-97b4-44e2c87e4b58">
   很多人觉得愿意花每个月20美金去使用MidJourney，在stable diffusion的SDXL模型出来之前，这个想法固然有合理性，因为MIdjourney的出图质量比任何stable diffusion使用的模型的出图质量要好，但是在SDXL出来之前，这个想法就显得有点不理智了。再加上stable diffusion丰富的生态系统和免费的特点，学习使用 stable diffusion将是条不由之路
  </blockquote>
  <h1 class="" id="a29383a7-3b08-4b77-ac3a-4e8d74cc10b1">
   <strong>
    你可以使用 stable diffusion 做什么
   </strong>
   🤖
  </h1>
  <blockquote class="" id="c2b18f24-8173-48ea-a088-f303c9fda79c">
   接下来就带大家来感受以下stable diffusion的丰富生态
  </blockquote>
  <h3 class="" id="c5cc7563-69f2-4452-a404-9040e7b92924">
   从文字生成图像)
  </h3>
  <p class="" id="b5fa0fcc-9ad5-4744-abc4-b61dc792eb56">
   这个功能用途就不必在这里赘述了，展示：
  </p>
  <ul class="toggle" id="03b9c8c2-27ed-48d9-a3e8-0c05d9f42130">
   <li>
    <details open="">
     <summary>
      展示
     </summary>
     <blockquote class="" id="5bc4e589-9f54-4293-91fd-4c7511df2d56">
      现实风格(
      <strong>
       <strong>
        Realistic
       </strong>
      </strong>
      )
      <figure class="image" id="5fbd07f5-e67a-41ea-9b94-2fc99bc09a4f">
       <a data-bs-target="#largerImgModal_5fbd07f5-e67a-41ea-9b94-2fc99bc09a4f" data-bs-toggle="modal" href="">
        <img src="{% static imgUrlPrefix %}/Untitled%201.png" style="width:747px"/>
       </a>
      </figure>
     </blockquote>
     <blockquote class="" id="f6014f67-2c09-41a5-a621-4c2be1abb842">
      半现实主义风格(
      <strong>
       <strong>
        Semi-Realistic)
       </strong>
      </strong>
      <figure class="image" id="8d3fcad9-7818-493a-a336-8d36d19ccd6b">
       <a data-bs-target="#largerImgModal_8d3fcad9-7818-493a-a336-8d36d19ccd6b" data-bs-toggle="modal" href="">
        <img src="{% static imgUrlPrefix %}/Untitled%202.png" style="width:750px"/>
       </a>
      </figure>
     </blockquote>
     <blockquote class="" id="be320805-d39f-4788-bd29-f31509fb7b2e">
      动漫(
      <strong>
       <strong>
        Anime)
       </strong>
      </strong>
      <figure class="image" id="83435634-e1f2-4de0-8538-cf85f283bc07">
       <a data-bs-target="#largerImgModal_83435634-e1f2-4de0-8538-cf85f283bc07" data-bs-toggle="modal" href="">
        <img src="{% static imgUrlPrefix %}/Untitled%203.png" style="width:757px"/>
       </a>
      </figure>
     </blockquote>
     <blockquote class="" id="b420d3b8-5ede-42f2-91dc-b3680b97a57e">
      游戏道具(
      <strong>
       <strong>
        Game Assets)
       </strong>
      </strong>
      <figure class="image" id="2499393c-48bf-45ce-a8a3-df7ae29cbbae">
       <a data-bs-target="#largerImgModal_2499393c-48bf-45ce-a8a3-df7ae29cbbae" data-bs-toggle="modal" href="">
        <img src="{% static imgUrlPrefix %}/Untitled%204.png" style="width:677px"/>
       </a>
      </figure>
     </blockquote>
     <blockquote class="" id="e553f293-18df-420a-9286-45f707a2e7b3">
      风景(
      <strong>
       <strong>
        Landscapes)
       </strong>
      </strong>
      <figure class="image" id="a2f5a922-39cc-4d4c-a004-8e3295580001">
       <a data-bs-target="#largerImgModal_a2f5a922-39cc-4d4c-a004-8e3295580001" data-bs-toggle="modal" href="">
        <img src="{% static imgUrlPrefix %}/r7in10iy7i1b1-1024x680.webp" style="width:1024px"/>
       </a>
      </figure>
     </blockquote>
    </details>
   </li>
  </ul>
  <h3 class="" id="_49c77f15-7339-425d-8b7e-4fff9f944fad">
   从图像生成图像
  </h3>
  <p class="" id="9567d2d9-5172-4916-8ab0-898ef19e3ae2">
   使用这种功能常常是你无法准确的描述你想要的图片，或者你想要一张与原图有相同特征的图片，此时你可以在原图的基础上生成其它的图像
  </p>
  <figure class="image" id="a73c3372-d9c7-4105-9082-fe0b6d7620d5">
   <a data-bs-target="#largerImgModal_a73c3372-d9c7-4105-9082-fe0b6d7620d5" data-bs-toggle="modal" href="">
    <img src="{% static imgUrlPrefix %}/image.png" style="width:640px"/>
   </a>
  </figure>
  <figure class="image" id="ca830a33-2705-420f-846e-17cb7d3650b2">
   <a data-bs-target="#largerImgModal_ca830a33-2705-420f-846e-17cb7d3650b2" data-bs-toggle="modal" href="">
    <img src="{% static imgUrlPrefix %}/image-1.png" style="width:640px"/>
   </a>
  </figure>
  <p class="" id="cbf8cab2-b0b0-498c-b73d-84943b1505b0">
  </p>
  <h3 class="" id="_332cbc2c-7e7c-45a0-ba09-61526a71d5ef">
   局部重绘图像
  </h3>
  <p class="" id="184ab1b4-a258-485d-a548-41819c1915a8">
   使用这种功能通常是因为可能初次生成的图像有局部无法达到需求，此时可以通过圈出局部区域，然后重新绘制
  </p>
  <p class="" id="68d1b0c1-fa0e-41f8-85c0-3e7f5a2b31d7">
   比如这张图片的士兵太模糊(显然，画这张图的人还没有体验过双摄的魅力)，此时我可以圈出背景区域，然后使用局部重绘(inpainting)功能
  </p>
  <figure class="image" id="2dd4aa30-b77c-466e-9eb6-eeca04724450">
   <a data-bs-target="#largerImgModal_2dd4aa30-b77c-466e-9eb6-eeca04724450" data-bs-toggle="modal" href="">
    <img src="{% static imgUrlPrefix %}/5zavjhvczrpa1.webp" style="width:768px"/>
   </a>
  </figure>
  <figure class="image" id="57da1ef5-18e5-414a-9b42-4f6bc827af85">
   <a data-bs-target="#largerImgModal_57da1ef5-18e5-414a-9b42-4f6bc827af85" data-bs-toggle="modal" href="">
    <img src="{% static imgUrlPrefix %}/3l2jpvzdgqpa1.webp" style="width:960px"/>
   </a>
  </figure>
  <h3 class="" id="_17fe8fa2-80b1-42e2-9452-73b46af384d5">
   扩展图像
  </h3>
  <p class="" id="1800e118-b00b-43df-8be8-5bfaacc57c2c">
   有 inpainting 自然也会有outpainting，例如你嫌弃现在这张图像太窄了，你可以使用扩展图像(outpaiting)这个功能增宽图像
  </p>
  <h3 class="" id="fa55a5a4-db01-4df1-b8f3-fb22860511d7">
   创建动画
  </h3>
  <p class="" id="85de37fd-9b3c-4af1-8ba0-ed0d3fb8c1c9">
   我们知道动画是由一张张的图片（帧(frame)）组成的，那我让stable diffusion来帮我们生成帧，然后再把帧组件二起来不就成为一张动画了吗？
  </p>
  <figure id="96df8d97-2624-4a23-9673-c67798cb9988">
   <div class="source">
    <a href="{% static imgUrlPrefix %}/YT2mp3.info_-_Trip_Generator___Stable_Diffusion___Deforum___AI.mp4" target="_blank">
     https://s3-us-west-2.amazonaws.com/secure.notion-static.com/7231cf2f-d81c-47f4-abd0-db0ec45b5669/YT2mp3.info_-_Trip_Generator___Stable_Diffusion___Deforum___AI.mp4
    </a>
   </div>
  </figure>
  <blockquote class="" id="3e739b69-45bf-42da-95d2-b2b688169532">
   目前来说，使用stale diffusion来生成动画的技术仍然不够成熟，因为使用目前的技术，就算你加再多的限制条件，你都无法保证stable diffusion生成一样的背景或者五官。所以生成的动画还是不尽如人意。
  </blockquote>
  <blockquote class="" id="519278d5-eae6-4b63-8fa2-1cd902d10bd0">
   目前可以使用 Ebsynth+stable diffusion这种技术生成短时长镜头的动画效果还是比较理想，但是一旦时长变长，效果就不行了。
  </blockquote>
  <blockquote class="" id="bb5fc76e-5d78-4a78-bd33-ea5d15813ad3">
   不过最近好像出了另外一种新的技术— CoDef, 据说效果不错，我后面尝试了之后，上述两种技术以及上面视频使用的Defourm技术都会分开详解
  </blockquote>
  <h1 class="" id="_06afc10d-2a55-4ae5-a3f4-7f9246d36c13">
   <strong>
    <strong>
     <strong>
      <strong>
       <strong>
        <strong>
         <strong>
          <strong>
           <strong>
            <strong>
             <strong>
              <strong>
               <strong>
                <strong>
                 <strong>
                  <strong>
                   <strong>
                    <strong>
                     <strong>
                      <strong>
                       <strong>
                        <strong>
                         <strong>
                          <strong>
                           <strong>
                            <strong>
                             <strong>
                              <strong>
                               <strong>
                                <strong>
                                 <strong>
                                  <strong>
                                   <strong>
                                    <strong>
                                     <strong>
                                      <strong>
                                       <strong>
                                        <strong>
                                         <strong>
                                          <strong>
                                           如何使用 stable diffusion
                                          </strong>
                                         </strong>
                                        </strong>
                                       </strong>
                                      </strong>
                                     </strong>
                                    </strong>
                                   </strong>
                                  </strong>
                                 </strong>
                                </strong>
                               </strong>
                              </strong>
                             </strong>
                            </strong>
                           </strong>
                          </strong>
                         </strong>
                        </strong>
                       </strong>
                      </strong>
                     </strong>
                    </strong>
                   </strong>
                  </strong>
                 </strong>
                </strong>
               </strong>
              </strong>
             </strong>
            </strong>
           </strong>
          </strong>
         </strong>
        </strong>
       </strong>
      </strong>
     </strong>
    </strong>
   </strong>
   🥸
  </h1>
  <blockquote class="" id="97af28e8-23a2-4b87-8ba7-eebdf3214ba8">
   想必大家也都听说了，抖音斥十亿美金向英伟达(Nvidia)购买GPU发展AI，stable diffusion也是AI，故当你的电脑有一台高性能的GPU时，使用stable diffusion的体验将越好。如何去评判GPU的性能好坏呢？在stable diffusion这个领域，可以武断地说，当你的GPU显存(VRAM)越大，则性能越强。那么目前来说，不低于2GB的显存将是运行stable diffusion的硬性条件。那当我没有这个硬性条件怎么办呢？当然，我还会介绍一些提供免费的stable diffusion使用的网站，当然，这种网站提供的stable diffusion生态没有我们自己在本机部署stable diffusion丰富，但对于仅仅只是使用文生图(txt2img)这个功能的受众，亦足够了。
  </blockquote>
  <h3 class="" id="_1fedb8e6-09c8-4f8a-a079-75ab0cbc2834">
   免费网站推荐
  </h3>
  <blockquote class="" id="117d6934-8860-485a-b984-c9a7b1054e51">
   后者提供的生态会比前一个网站要丰富
   <figure id="f829ca8e-670f-43b7-b797-64f81d8a9c41">
    <a class="bookmark source" href="https://dreamstudio.ai/generate" target="_blank">
     <div class="bookmark-info">
      <div class="bookmark-text">
       <div class="bookmark-title">
        DreamStudio
       </div>
      </div>
      <div class="bookmark-href">
       <img class="icon bookmark-icon" src="https://dreamstudio.ai/favicon.svg"/>
       https://dreamstudio.ai/generate
      </div>
     </div>
    </a>
   </figure>
   <figure id="4c8abc5b-4ea1-45b5-b235-feb09e283e59">
    <a class="bookmark source" href="https://tinybots.net/artbot/create" target="_blank">
     <div class="bookmark-info">
      <div class="bookmark-text">
       <div class="bookmark-title">
       </div>
      </div>
      <div class="bookmark-href">
       <img class="icon bookmark-icon" src="https://tinybots.net/favicon.ico"/>
       https://tinybots.net/artbot/create
      </div>
     </div>
    </a>
   </figure>
  </blockquote>
  <h3 class="" id="c62fbcb7-13f1-4038-9f5a-13beaa54e4dd">
   本机部署
  </h3>
  <blockquote class="" id="aaf632a0-ddd0-4248-b29f-4ff47e99ec0b">
   请根据电脑GPU类型选择任一指引
   <ul class="toggle" id="ae04b2b6-8524-4714-b660-42ef09fd160a">
    <li>
     <details open="">
      <summary>
       <strong>
        NVIDIA GPU
       </strong>
      </summary>
      <ul class="toggle" id="8fa578af-a09d-4d22-a454-a05788eb96cc">
       <li>
        <details open="">
         <summary>
          有科学上网
         </summary>
         <h2 class="" id="892a6e10-6f53-4109-9bc6-ea780e896fdb">
          步骤1：
         </h2>
         <p class="" id="3b7eb586-4d80-4a11-9c1a-bdce862fc45c">
          访问网址
         </p>
         <p class="" id="478a5711-1e00-4589-8a88-14e698739761">
          <a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui/releases/tag/v1.0.0-pre" target="_blank">
           https://github.com/AUTOMATIC1111/stable-diffusion-webui/releases/tag/v1.0.0-pre
          </a>
         </p>
         <p class="" id="90965544-8208-4421-bd08-c15c8667da2c">
          点击下载红圈链接
         </p>
         <figure class="image" id="f625d13d-84fb-4ebf-87fe-9af2a81fc7ce">
          <a data-bs-target="#largerImgModal_f625d13d-84fb-4ebf-87fe-9af2a81fc7ce" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%205.png" style="width:1530px"/>
          </a>
         </figure>
         <h2 class="" id="0a2d7e58-8abc-488f-8982-5ab312dcd37c">
          步骤2：
         </h2>
         <p class="" id="ca91b0c8-825d-495b-9daf-ae3a82897120">
          解压后进入文件夹，如下图所示先运行 update.bat 文件，再运行 run.bat 文件
         </p>
         <figure class="image" id="47de185f-293e-43bd-9035-2eff0cf0976d">
          <a data-bs-target="#largerImgModal_47de185f-293e-43bd-9035-2eff0cf0976d" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%206.png" style="width:828px"/>
          </a>
         </figure>
         <p class="" id="8f289108-7e10-46d2-851a-e469a399145f">
          <strong>
           运行run.bat 文件(this slow ass shit) 要多久就得看你家网速了
          </strong>
         </p>
         <p class="" id="6022665a-a225-4a69-b34f-a237ce0cee86">
          首先它会进行初始化工作，初始化工作完毕后就会开始运行stable diffusion，初始化完成示意图如下：
         </p>
         <p class="" id="cee7b109-e55b-4b5d-af20-8681bfba5f24">
         </p>
         <h2 class="" id="d093eae2-94c2-44f6-ad02-0bbe8c2bebd9">
          步骤3：
         </h2>
         <p class="" id="bad22112-a83a-4cff-97db-78ecca7e48e0">
          <strong>
           注意千万不要关闭run.bat运行窗口，关闭了这个窗口就等于关闭了stable diffusion
          </strong>
         </p>
         <p class="" id="621d6407-0a86-4706-b70a-d648e7b7afb4">
          当窗口出现以下输出的时候：
         </p>
         <figure class="image" id="3333395a-c7ed-4bc4-85a5-2525e768b573">
          <a data-bs-target="#largerImgModal_3333395a-c7ed-4bc4-85a5-2525e768b573" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%207.png" style="width:1091px"/>
          </a>
         </figure>
         <p class="" id="ea357efb-46ee-49fe-964a-4a50c37f0aca">
          打开任意浏览器，在网址栏输入:
          <a href="http://127.0.0.1:7860" target="_blank">
           http://127.0.0.1:7860
          </a>
          即可进入stable diffusion 使用界面，如下图：
         </p>
         <figure class="image" id="7a6e66c9-06df-4ad9-91f0-b1935fb4614d">
          <a data-bs-target="#largerImgModal_7a6e66c9-06df-4ad9-91f0-b1935fb4614d" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%208.png" style="width:1920px"/>
          </a>
         </figure>
         <p class="" id="cfec03e5-2c1d-4bcc-9f6a-f00821cb5958">
         </p>
        </details>
       </li>
      </ul>
      <ul class="toggle" id="1f95788a-ecfd-463b-84fa-0b7b318301ef">
       <li>
        <details open="">
         <summary>
          无科学上网
         </summary>
         <h3 class="" id="b3d232ef-505a-416f-bbb5-369017ec8af5">
          步骤一：
         </h3>
         <p class="" id="917e1119-ad31-49a6-a2c1-cabda2f0156b">
          访问以下网址获取安装包资源：
         </p>
         <figure id="15b68932-c023-4f13-80cc-0594e323f61d">
          <a class="bookmark source" href="https://liaozhi.me/bilibiliResourceDownload" target="_blank">
           <div class="bookmark-info">
            <div class="bookmark-text">
             <div class="bookmark-title">
              Bilibili Videos Resource  Download
             </div>
            </div>
            <div class="bookmark-href">
             <img class="icon bookmark-icon" src="https://liaozhi.me/static/web/img/websiteIcon.ico"/>
             https://liaozhi.me/bilibiliResourceDownload
            </div>
           </div>
          </a>
         </figure>
         <figure class="image" id="e314d831-3a98-4b47-a10e-a51cade381dd">
          <a data-bs-target="#largerImgModal_e314d831-3a98-4b47-a10e-a51cade381dd" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%209.png" style="width:864px"/>
          </a>
         </figure>
         <h3 class="" id="9aea11ff-f387-4d0a-b388-c5cde1b059cf">
          步骤二：
         </h3>
         <p class="" id="d08f67b4-698d-475d-bdc6-38e9e904f6e7">
          解压后得到如下文件列表：
         </p>
         <figure class="image" id="ddd5cc79-1f8e-4e4b-8076-bbbafec3a421">
          <a data-bs-target="#largerImgModal_ddd5cc79-1f8e-4e4b-8076-bbbafec3a421" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%2010.png" style="width:927px"/>
          </a>
         </figure>
         <h3 class="" id="8546d2bd-6581-49b5-b249-536534ec7154">
          步骤三：
         </h3>
         <p class="" id="5417dc65-324e-4003-8542-943d11690ae0">
          （注释：此文件夹经过修改，将python package的pip源设置为清华镜像源，将各种github包下载地址通过我制作的镜像网站:
          <a href="https://github.liaozhi.me" target="_blank">
           https://github.liaozhi.me
          </a>
          进行下载，故此时国内网络亦可进行高速安装）
         </p>
         <p class="" id="2fa9f3b5-8ae6-4d8e-b627-9d8e63c57896">
          点击下图红圈所框文件即可
         </p>
         <figure class="image" id="5c946484-72ae-4940-8c5e-8b1d494c7d21">
          <a data-bs-target="#largerImgModal_5c946484-72ae-4940-8c5e-8b1d494c7d21" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%2011.png" style="width:927px"/>
          </a>
         </figure>
         <p class="" id="669945a2-5400-4a8c-9e77-9f067d13de3e">
         </p>
         <h3 class="" id="1f2763bc-8bf9-4f53-b79a-fa8bd3740bcd">
          步骤四：
         </h3>
         <p class="" id="5066d550-e26b-4700-85b8-6cfcdf465806">
          当出现以下画面输出后：
         </p>
         <figure class="image" id="21903afe-c647-42e6-8547-cf3c7735e3bd">
          <a data-bs-target="#largerImgModal_21903afe-c647-42e6-8547-cf3c7735e3bd" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%2012.png" style="width:1091px"/>
          </a>
         </figure>
         <p class="" id="b843fb19-d460-464d-b2a3-26935c239627">
          在浏览器地址栏输入 :127.0.0.1:7860 即可进入 stable diffusion 页面，如下图所示：
         </p>
         <figure class="image" id="baf1a934-5936-4d75-866c-5ed95e83fa5e">
          <a data-bs-target="#largerImgModal_baf1a934-5936-4d75-866c-5ed95e83fa5e" data-bs-toggle="modal" href="">
           <img src="{% static imgUrlPrefix %}/Untitled%208.png" style="width:1920px"/>
          </a>
         </figure>
        </details>
       </li>
      </ul>
     </details>
    </li>
   </ul>
   <ul class="toggle" id="3c8ac9fb-a1a0-4a5e-b69d-ea0a1f525b7d">
    <li>
     <details open="">
      <summary>
       <strong>
        Apple Silicon(Mac M1/M2)
       </strong>
      </summary>
      <p class="" id="da039ced-47fd-4eba-9c69-c7009499e66e">
       目前我没有设备去测试，如果有此设备的小伙伴愿意贡献此次测试的请联系我哦😊
      </p>
     </details>
    </li>
   </ul>
   <ul class="toggle" id="c4c59116-fe87-4ec8-b9a7-99834d14fed7">
    <li>
     <details open="">
      <summary>
       <strong>
        AMD GPU
       </strong>
      </summary>
      <p class="" id="e665d177-9999-4af2-8186-1030c7c64d99">
       目前我没有设备去测试，如果有此设备的小伙伴愿意贡献此次测试的请联系我哦😊
      </p>
     </details>
    </li>
   </ul>
  </blockquote>
  <h1 class="" id="_0405f992-451d-462f-a070-44763fb29d94">
   <strong>
    安装提示词(prompts)翻译
   </strong>
   ⚙️
  </h1>
  <blockquote class="" id="b43c9537-1b26-45f9-9ef4-b205f950ae0b">
   相比大家在之前的例子当中也看到了，目前stable diffusion仅仅接受英文提示词(prompts)去生成图片。那么对于英文不太好的小伙伴，我们伟大的github开源社区向大家提供了一个提示词(prompts)翻译插件。我们以提示词翻译插件的安装为示例，下面是插件的安装指导。
  </blockquote>
  <ul class="toggle" id="2fe846fc-874c-4c05-84d1-5dbb974a4bf3">
   <li>
    <details open="">
     <summary>
      有科学上网
     </summary>
     <figure class="image" id="e880157b-cf52-44bd-938d-b3566f359329">
      <a data-bs-target="#largerImgModal_e880157b-cf52-44bd-938d-b3566f359329" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2013.png" style="width:1904px"/>
      </a>
     </figure>
     <figure class="image" id="dc34b18b-6581-461d-a217-ab182295c8e9">
      <a data-bs-target="#largerImgModal_dc34b18b-6581-461d-a217-ab182295c8e9" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2014.png" style="width:1914px"/>
      </a>
     </figure>
     <figure class="image" id="265923ad-389b-498b-9e14-81c2a1e29ef0">
      <a data-bs-target="#largerImgModal_265923ad-389b-498b-9e14-81c2a1e29ef0" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2015.png" style="width:1915px"/>
      </a>
     </figure>
     <figure class="image" id="27ab4511-287b-4b4f-b346-5e0268a2768c">
      <a data-bs-target="#largerImgModal_27ab4511-287b-4b4f-b346-5e0268a2768c" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2016.png" style="width:1909px"/>
      </a>
     </figure>
     <figure class="image" id="77526e9c-84f6-4304-aa0e-2d79e53cc4ad">
      <a data-bs-target="#largerImgModal_77526e9c-84f6-4304-aa0e-2d79e53cc4ad" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2017.png" style="width:1881px"/>
      </a>
     </figure>
     <figure class="image" id="5ae7611b-ab65-4f4a-b20c-64b63051224b">
      <a data-bs-target="#largerImgModal_5ae7611b-ab65-4f4a-b20c-64b63051224b" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2018.png" style="width:1866px"/>
      </a>
     </figure>
    </details>
   </li>
  </ul>
  <ul class="toggle" id="202f1ab0-1405-49bb-9e08-1ada3af44317">
   <li>
    <details open="">
     <summary>
      无科学上网
     </summary>
     <p class="" id="f0c8a50a-ceff-45c0-876d-10c0504ead57">
      进入以下网址:
     </p>
     <figure id="16d8c8f1-4ed4-465f-aa40-e6fcb2e72376">
      <a class="bookmark source" href="https://github.liaozhi.me/Physton/sd-webui-prompt-all-in-one" target="_blank">
       <div class="bookmark-info">
        <div class="bookmark-text">
         <div class="bookmark-title">
          GitHub - Physton/sd-webui-prompt-all-in-one: This is an extension based on sd-webui, aimed at improving the user experience of the prompt/negative prompt input box. It has a more intuitive and powerful input interface function, and provides automatic translation, history record, and bookmarking functions.    这是一个基于 sd-webui 的扩展，旨在提高提示词/反向提示词输入框的使用体验。它拥有更直观、强大的输入界面功能，它提供了自动翻译、历史记录和收藏等功能。
         </div>
         <div class="bookmark-description">
          This is an extension based on sd-webui, aimed at improving the user experience of the prompt/negative prompt input box. It has a more intuitive and powerful input interface function, and provides a...
         </div>
        </div>
        <div class="bookmark-href">
         <img class="icon bookmark-icon" src="https://github.liaozhi.me/fluidicon.png"/>
         https://github.liaozhi.me/Physton/sd-webui-prompt-all-in-one
        </div>
       </div>
       <img class="bookmark-image" src="https://opengraph.githubassets.com/851089ae9456f85d30fd35ef9cad28b48b2d2d93166fa59c91607bbe1d012beb/Physton/sd-webui-prompt-all-in-one"/>
      </a>
     </figure>
     <figure class="image" id="dc586dfd-3e88-457b-8ef3-8cd568e30a8f">
      <a data-bs-target="#largerImgModal_dc586dfd-3e88-457b-8ef3-8cd568e30a8f" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2019.png" style="width:1920px"/>
      </a>
     </figure>
     <figure class="image" id="005a3168-cc01-4422-87bd-436cf99b666e">
      <a data-bs-target="#largerImgModal_005a3168-cc01-4422-87bd-436cf99b666e" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2020.png" style="width:1920px"/>
      </a>
     </figure>
     <figure class="image" id="cd52a71f-5da3-4a25-853f-a816ccb3b34d">
      <a data-bs-target="#largerImgModal_cd52a71f-5da3-4a25-853f-a816ccb3b34d" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2021.png" style="width:1538px"/>
      </a>
     </figure>
     <figure class="image" id="d6daff75-fa97-4379-ae90-57def01590ff">
      <a data-bs-target="#largerImgModal_d6daff75-fa97-4379-ae90-57def01590ff" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2022.png" style="width:1737px"/>
      </a>
     </figure>
     <figure class="image" id="117aefcd-03ab-40ee-abaf-1af5dc14e49d">
      <a data-bs-target="#largerImgModal_117aefcd-03ab-40ee-abaf-1af5dc14e49d" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2023.png" style="width:1884px"/>
      </a>
     </figure>
     <figure class="image" id="83a6ec2e-3b6b-49b0-b964-7aa7a4e98df3">
      <a data-bs-target="#largerImgModal_83a6ec2e-3b6b-49b0-b964-7aa7a4e98df3" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2018.png" style="width:1866px"/>
      </a>
     </figure>
    </details>
   </li>
  </ul>
  <ul class="toggle" id="8f580b0c-e455-441d-bfab-def5e719ebaf">
   <li>
    <details open="">
     <summary>
      插件使用引导
     </summary>
     <figure class="image" id="7ea4ebbf-7237-4d7a-98b6-ab4731d8412b">
      <a data-bs-target="#largerImgModal_7ea4ebbf-7237-4d7a-98b6-ab4731d8412b" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2024.png" style="width:1901px"/>
      </a>
     </figure>
     <figure class="image" id="51d60573-26ee-4a72-8f17-4a6056c1de76">
      <a data-bs-target="#largerImgModal_51d60573-26ee-4a72-8f17-4a6056c1de76" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2025.png" style="width:1908px"/>
      </a>
     </figure>
     <figure class="image" id="bef694e4-1070-4d40-9676-5f6134e86cce">
      <a data-bs-target="#largerImgModal_bef694e4-1070-4d40-9676-5f6134e86cce" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2026.png" style="width:1916px"/>
      </a>
     </figure>
     <figure class="image" id="590da779-bf92-4065-9581-e4b394d19038">
      <a data-bs-target="#largerImgModal_590da779-bf92-4065-9581-e4b394d19038" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2027.png" style="width:1886px"/>
      </a>
     </figure>
     <figure class="image" id="c6b72509-a86f-4ba0-bea9-60f794fabf1c">
      <a data-bs-target="#largerImgModal_c6b72509-a86f-4ba0-bea9-60f794fabf1c" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2028.png" style="width:1869px"/>
      </a>
     </figure>
     <figure class="image" id="a5f3be52-a338-4dcc-9d00-2f8be39a0c09">
      <a data-bs-target="#largerImgModal_a5f3be52-a338-4dcc-9d00-2f8be39a0c09" data-bs-toggle="modal" href="">
       <img src="{% static imgUrlPrefix %}/Untitled%2029.png" style="width:1901px"/>
      </a>
     </figure>
    </details>
   </li>
  </ul>
  <h1 class="" id="_233be5f5-d26e-4e18-97d7-3aa46a3e3fd2">
   <strong>
    安装汉化插件
   </strong>
   ⚙️
  </h1>
  <ul class="toggle" id="3575c3fb-c77a-4896-bd87-5e96f0fbe05d">
   <li>
    <details open="">
     <summary>
      有科学上网
     </summary>
     <p class="" id="218a6906-7bb9-4638-8c3f-a600527cbbbf">
      插件的安装跟上述插件的安装流程是一致的，只不过这次我们需要在搜索框中输入
      <strong>
       sd-webui-bilingual-localization
      </strong>
      ，然后其它流程一致
     </p>
    </details>
   </li>
  </ul>
  <ul class="toggle" id="a32af6f7-9591-441d-80d2-08b4ec098cab">
   <li>
    <details open="">
     <summary>
      无科学上网
     </summary>
     <p class="" id="f4f40cb0-95ba-42e1-a08f-b5cabde905b8">
      插件的安装跟上述插件的安装流程是一致的，只不过这次我们需要在install from url 输入框中输入
      <strong>
       <a href="https://github.liaozhi.me/journey-ad/sd-webui-bilingual-localization" target="_blank">
        https://github.liaozhi.me/journey-ad/sd-webui-bilingual-localization
       </a>
      </strong>
      <strong>
      </strong>
      ，然后其它流程一致
     </p>
    </details>
   </li>
  </ul>
  <ul class="toggle" id="37a0f659-5eea-4912-844f-657139cf8c69">
   <li>
    <details open="">
     <summary>
      插件使用引导
     </summary>
     <blockquote class="" id="1681cddd-860d-4d04-9f5a-7c47cb0d790c">
      这款插件的效果是这样的：（它将名词的中文和英文都显示出来了，这与webui内置的翻译功能是不符合的，因为一般来说翻译功能仅仅支持显示一种语言，所以我们需要把内置的翻译功能给取消掉，使用插件的翻译功能，这样我们既可以方便地使用stable diffusion，也可以顺带学点英文）
      <figure class="image" id="8d7ba93b-b2f7-4293-bd01-49270af2518b">
       <a data-bs-target="#largerImgModal_8d7ba93b-b2f7-4293-bd01-49270af2518b" data-bs-toggle="modal" href="">
        <img src="{% static imgUrlPrefix %}/Untitled%2030.png" style="width:1920px"/>
       </a>
      </figure>
     </blockquote>
     <blockquote class="" id="f9610007-f631-4813-b6e2-c086ac3fb34b">
      好，插件的使用步骤如下：
      <ol class="numbered-list" id="2443f80e-88b0-41fb-ada5-5970b05bbd5d" start="1" type="1">
       <li>
        先确保禁止掉webui内置的翻译功能
        <figure class="image" id="6214298c-2b35-4678-b8eb-c2bd759a0855">
         <a data-bs-target="#largerImgModal_6214298c-2b35-4678-b8eb-c2bd759a0855" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2031.png" style="width:1852px"/>
         </a>
        </figure>
        <figure class="image" id="291de62f-dcff-42fa-b6d8-6919f48d8545">
         <a data-bs-target="#largerImgModal_291de62f-dcff-42fa-b6d8-6919f48d8545" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2032.png" style="width:1844px"/>
         </a>
        </figure>
        <figure class="image" id="797bc4fe-e78c-4ff2-9021-e32f2e7b299f">
         <a data-bs-target="#largerImgModal_797bc4fe-e78c-4ff2-9021-e32f2e7b299f" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2033.png" style="width:1919px"/>
         </a>
        </figure>
       </li>
      </ol>
      <ol class="numbered-list" id="9d79eb4f-453f-47cd-b134-ac583e35ae46" start="2" type="1">
       <li>
        然后启用插件的翻译功能
        <figure class="image" id="ab23db44-7d75-495c-946c-2f14b334688c">
         <a data-bs-target="#largerImgModal_ab23db44-7d75-495c-946c-2f14b334688c" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2034.png" style="width:1863px"/>
         </a>
        </figure>
        <figure class="image" id="d4d3ffb6-d64f-4df6-b50f-2e9740504762">
         <a data-bs-target="#largerImgModal_d4d3ffb6-d64f-4df6-b50f-2e9740504762" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2035.png" style="width:1919px"/>
         </a>
        </figure>
       </li>
      </ol>
      <ol class="numbered-list" id="83a6f8f2-fe37-4234-8981-7762e99c0cb3" start="3" type="1">
       <li>
        下载中文翻译文件
        <ul class="toggle" id="1cd1e13e-2658-491a-92ee-d9b7fc1c9787">
         <li>
          <details open="">
           <summary>
            有科学上网：
           </summary>
           <p class="" id="75dac52d-f484-44db-a534-291fc7bfb203">
            进入网站：
           </p>
           <figure id="54b2e54c-57c4-45e6-991b-02704afd5f15">
            <a class="bookmark source" href="https://gist.github.com/journey-ad/d98ed173321658be6e51f752d6e6163c" target="_blank">
             <div class="bookmark-info">
              <div class="bookmark-text">
               <div class="bookmark-title">
                I18N_sd-webui-zh_CN.json
               </div>
               <div class="bookmark-description">
                I18N_sd-webui-zh_CN.json · GitHub
               </div>
              </div>
              <div class="bookmark-href">
               <img class="icon bookmark-icon" src="https://gist.github.com/favicon.ico"/>
               https://gist.github.com/journey-ad/d98ed173321658be6e51f752d6e6163c
              </div>
             </div>
             <img class="bookmark-image" src="https://github.githubassets.com/images/modules/gists/gist-og-image.png"/>
            </a>
           </figure>
           <figure class="image" id="e325a3ad-bdbc-4fb1-bca1-5cdcb668276e">
            <a data-bs-target="#largerImgModal_e325a3ad-bdbc-4fb1-bca1-5cdcb668276e" data-bs-toggle="modal" href="">
             <img src="{% static imgUrlPrefix %}/Untitled%2036.png" style="width:1905px"/>
            </a>
           </figure>
           <figure class="image" id="2a196c4b-1d81-4302-a74a-53854b16fd37">
            <a data-bs-target="#largerImgModal_2a196c4b-1d81-4302-a74a-53854b16fd37" data-bs-toggle="modal" href="">
             <img src="{% static imgUrlPrefix %}/Untitled%2037.png" style="width:1133px"/>
            </a>
           </figure>
          </details>
         </li>
        </ul>
        <ul class="toggle" id="38b06ce1-6b64-4f7c-aa91-5713cfb23823">
         <li>
          <details open="">
           <summary>
            无科学上网：
           </summary>
           <p class="" id="5406da33-5cd5-48dd-bf29-3ba3c082741c">
            进入我的网站下载中文翻译包
           </p>
           <figure id="6e144528-895e-4c73-abc5-e4715047ab6f">
            <a class="bookmark source" href="https://liaozhi.me/bilibiliResourceDownload" target="_blank">
             <div class="bookmark-info">
              <div class="bookmark-text">
               <div class="bookmark-title">
                Bilibili Videos Resource  Download
               </div>
               <div class="bookmark-description">
                bilibili视频文档更新了，快去看看吧。
               </div>
              </div>
              <div class="bookmark-href">
               <img class="icon bookmark-icon" src="https://liaozhi.me/static/web/img/websiteIcon.ico"/>
               https://liaozhi.me/bilibiliResourceDownload
              </div>
             </div>
            </a>
           </figure>
           <figure class="image" id="0942a017-437b-4c4d-ab63-ffd62c547506">
            <a data-bs-target="#largerImgModal_0942a017-437b-4c4d-ab63-ffd62c547506" data-bs-toggle="modal" href="">
             <img src="{% static imgUrlPrefix %}/Untitled%2038.png" style="width:1918px"/>
            </a>
           </figure>
           <figure class="image" id="efa3edb8-cd3a-4341-b43a-18ad8173c4a7">
            <a data-bs-target="#largerImgModal_efa3edb8-cd3a-4341-b43a-18ad8173c4a7" data-bs-toggle="modal" href="">
             <img src="{% static imgUrlPrefix %}/Untitled%2039.png" style="width:1125px"/>
            </a>
           </figure>
          </details>
         </li>
        </ul>
       </li>
      </ol>
      <ol class="numbered-list" id="da29067a-e3ad-4caf-824f-5265b3d1ebc3" start="4" type="1">
       <li>
        让插件加载中文翻译安装文件
        <figure class="image" id="8d8fa558-e73b-4ab5-899a-1baf660a159d">
         <a data-bs-target="#largerImgModal_8d8fa558-e73b-4ab5-899a-1baf660a159d" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2040.png" style="width:1858px"/>
         </a>
        </figure>
       </li>
      </ol>
      <ol class="numbered-list" id="147eb9b5-2c80-4973-84ce-d8b9c3702426" start="5" type="1">
       <li>
        重启webui，重新加载插件，使翻译效果生效
        <figure class="image" id="50a38ce5-3d71-4359-ab87-9a731628b16f">
         <a data-bs-target="#largerImgModal_50a38ce5-3d71-4359-ab87-9a731628b16f" data-bs-toggle="modal" href="">
          <img src="{% static imgUrlPrefix %}/Untitled%2041.png" style="width:1920px"/>
         </a>
        </figure>
       </li>
      </ol>
     </blockquote>
    </details>
   </li>
  </ul>
  <p class="" id="52465bb1-6b40-4098-a516-1ff2f8d53753">
  </p>
 </div>
</article>
{% endblock %}
{% block largerImgModalContainer %}
<div class="modal fade" id="largerImgModal_6c341231-aaf3-4004-b62a-ff53eb1d1dba">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_3e27d9f6-6e6a-43a1-ab82-bf21fb39cdbf">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled-2023-08-08-2017.svg"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_5fbd07f5-e67a-41ea-9b94-2fc99bc09a4f">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%201.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_8d3fcad9-7818-493a-a336-8d36d19ccd6b">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%202.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_83435634-e1f2-4de0-8538-cf85f283bc07">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%203.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_2499393c-48bf-45ce-a8a3-df7ae29cbbae">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%204.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_a2f5a922-39cc-4d4c-a004-8e3295580001">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/r7in10iy7i1b1-1024x680.webp"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_a73c3372-d9c7-4105-9082-fe0b6d7620d5">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/image.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_ca830a33-2705-420f-846e-17cb7d3650b2">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/image-1.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_2dd4aa30-b77c-466e-9eb6-eeca04724450">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/5zavjhvczrpa1.webp"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_57da1ef5-18e5-414a-9b42-4f6bc827af85">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/3l2jpvzdgqpa1.webp"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_f625d13d-84fb-4ebf-87fe-9af2a81fc7ce">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%205.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_47de185f-293e-43bd-9035-2eff0cf0976d">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%206.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_3333395a-c7ed-4bc4-85a5-2525e768b573">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%207.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_7a6e66c9-06df-4ad9-91f0-b1935fb4614d">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%208.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_e314d831-3a98-4b47-a10e-a51cade381dd">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%209.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_ddd5cc79-1f8e-4e4b-8076-bbbafec3a421">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2010.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_5c946484-72ae-4940-8c5e-8b1d494c7d21">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2011.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_21903afe-c647-42e6-8547-cf3c7735e3bd">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2012.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_baf1a934-5936-4d75-866c-5ed95e83fa5e">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%208.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_e880157b-cf52-44bd-938d-b3566f359329">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2013.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_dc34b18b-6581-461d-a217-ab182295c8e9">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2014.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_265923ad-389b-498b-9e14-81c2a1e29ef0">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2015.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_27ab4511-287b-4b4f-b346-5e0268a2768c">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2016.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_77526e9c-84f6-4304-aa0e-2d79e53cc4ad">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2017.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_5ae7611b-ab65-4f4a-b20c-64b63051224b">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2018.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_dc586dfd-3e88-457b-8ef3-8cd568e30a8f">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2019.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_005a3168-cc01-4422-87bd-436cf99b666e">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2020.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_cd52a71f-5da3-4a25-853f-a816ccb3b34d">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2021.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_d6daff75-fa97-4379-ae90-57def01590ff">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2022.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_117aefcd-03ab-40ee-abaf-1af5dc14e49d">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2023.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_83a6ec2e-3b6b-49b0-b964-7aa7a4e98df3">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2018.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_7ea4ebbf-7237-4d7a-98b6-ab4731d8412b">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2024.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_51d60573-26ee-4a72-8f17-4a6056c1de76">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2025.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_bef694e4-1070-4d40-9676-5f6134e86cce">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2026.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_590da779-bf92-4065-9581-e4b394d19038">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2027.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_c6b72509-a86f-4ba0-bea9-60f794fabf1c">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2028.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_a5f3be52-a338-4dcc-9d00-2f8be39a0c09">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2029.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_8d7ba93b-b2f7-4293-bd01-49270af2518b">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2030.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_6214298c-2b35-4678-b8eb-c2bd759a0855">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2031.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_291de62f-dcff-42fa-b6d8-6919f48d8545">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2032.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_797bc4fe-e78c-4ff2-9021-e32f2e7b299f">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2033.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_ab23db44-7d75-495c-946c-2f14b334688c">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2034.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_d4d3ffb6-d64f-4df6-b50f-2e9740504762">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2035.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_e325a3ad-bdbc-4fb1-bca1-5cdcb668276e">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2036.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_2a196c4b-1d81-4302-a74a-53854b16fd37">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2037.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_0942a017-437b-4c4d-ab63-ffd62c547506">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2038.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_efa3edb8-cd3a-4341-b43a-18ad8173c4a7">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2039.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_8d8fa558-e73b-4ab5-899a-1baf660a159d">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2040.png"/>
  </div>
 </div>
</div>
<div class="modal fade" id="largerImgModal_50a38ce5-3d71-4359-ab87-9a731628b16f">
 <div class="modal-dialog modal-fullscreen">
  <div class="modal-content positive-relative" data-bs-dismiss="modal">
   <img class="h-100 w-100 object-fit-contain" src="{% static imgUrlPrefix %}/Untitled%2041.png"/>
  </div>
 </div>
</div>
{% endblock %}