{% extends 'web/layout/docLayout.html' %} {% load static %} {% load i18n %} 
  
{% block title %}
<title>{% trans 'Model' %}</title>
{% endblock %} {% block css %}
{% endblock %}
 {% block content %}
<div id="notionPageContainer">
  <article id="b3a4241c-7904-4aa5-9e65-d409748bd11c" class="page sans">
    <header>
      <img
        class="page-cover-image"
        src="https://www.notion.so/images/page-cover/met_william_morris_1877_willow.jpg"
        style="object-position: center 90%"
      />
      <div class="page-header-icon page-header-icon-with-cover">
        <img
          class="icon"
          src="https://www.notion.so/icons/window_brown.svg"
        />
      </div>
      <h1 class="page-title">模型</h1>
      <p class="page-description"></p>
    </header>
    <div class="page-body">
      <ul id="52f1e7a3-053e-411e-a691-64d9c565315e" class="toggle">
        <li>
          <details>
            <summary><strong>模型是什么</strong></summary>
            <p id="0f942ab6-567d-4a04-b0d5-c78eee314b56" class="">
              在上一节我们提到了可以使用最小二乘法预测直线的方法进行类比人工智能画图的原理
            </p>
            <figure id="e69ec901-cedb-4d5c-82e8-1c58a6e19122" class="image">
              <a target="_blank"
                href="{% static imgUrlPrefix %}/Least-Square-Method-1.png"
                ><img
                  style="width: 750px"
                  src="{% static imgUrlPrefix %}/Least-Square-Method-1.png"
              /></a>
            </figure>
            <blockquote id="f0a5dee0-3172-4dc1-a4f0-fce84df04cbb" class="">
              最小二乘法来预测直线的这种方法就是 stable diffusion
              中的模型的概念，你可以采用不同的方法来预测直线使得未出现在数据集中的x值有相应的y值与之对应，那么
              stable diffusion
              也可以使用不同的模型来使得未在数据集当中出现的提示词(prompts)有相应的图片与之对应。
            </blockquote>
            <blockquote id="8a0f0ab6-e63e-4258-b17a-90dcaacc60c9" class="">
              不同的模型将使得相同的提示词会有不同的图片输出，好的模型将能够满足你的想象，不好的模型将使得你的图片
              (like a piece of
              shit)(你知道的，我这个人从来不说脏话的，除非。。。)
              <figure
                id="45294fb0-f3ce-496e-9d47-335d723f0a5f"
                class="image"
              >
                <a target="_blank"
                  href="{% static imgUrlPrefix %}/images.jpg"
                  ><img
                    style="width: 240px"
                    src="{% static imgUrlPrefix %}/images.jpg"
                /></a>
              </figure>
              <figure id="d3ac3e8e-ef64-455e-973c-f31cfacd4bcb" class="image">
                <a target="_blank"
                  href="{% static imgUrlPrefix %}/images%201.jpg"
                  ><img
                    style="width: 240px"
                    src="{% static imgUrlPrefix %}/images%201.jpg"
                /></a>
              </figure>
              <figure id="1180aaaa-1cf2-4792-9b01-d8ed474c723f" class="image">
                <a target="_blank"
                  href="{% static imgUrlPrefix %}/images%202.jpg"
                  ><img
                    style="width: 240px"
                    src="{% static imgUrlPrefix %}/images%202.jpg"
                /></a>
              </figure>
            </blockquote>
            <p id="053f281d-bf97-4a37-b455-8f89cffa5de5" class=""></p>
            <blockquote id="667164a2-3efb-43db-9d7e-4b480a4e41ab" class="">
              我们知道模型的效果取决于训练数据，那么就会引入一个非常现实的问题，我们不可能将所有的图片作为训练数据进行模型的训练，此时就可以引入两个概念了：由
              stabilityAI 发布的基础模型(base model),
              由广大人民群众在基础模型训练出的独具风格的衍生模型。
              <p id="3cee8cd4-ca1c-456f-bf6d-f0c9f89eca30" class="">
                基础模型(base model)
                用于控制图片的基础逻辑，比如人的头部不可能是三角形的，手不会有十二根手指之类的逻辑。
              </p>
              <p id="63970520-db2a-40d1-baa8-8a3bc4d264d0" class=""></p>
              <p id="65c1668c-3c7f-49f3-88bd-4f33c0dc8774" class="">
                衍生模型则在基础模型的基础上增加训练图片集合，例如找一堆真实的人的照片进行训练，你就会得到专门用来生成真实的人的照片的模型了。又例如找一堆二次元小姐姐小哥哥的照片进行训练，你就会得到专门用来生成二次元人物的照片了。
              </p>
            </blockquote>
          </details>
        </li>
      </ul>
      <ul id="d532ea9a-dfd6-414d-9b46-f01f0a07cedd" class="toggle">
        <li>
          <details>
            <summary><strong>如何找到好的模型</strong></summary>
            <p id="0aef1725-9528-45ae-b927-3eaa92025a32" class="">
              方法一：自己找图片集进行训练—&gt;pro
            </p>
            <p id="526e90ff-f4ad-42e1-b776-bedf4708debf" class="">
              方法二： 找别人发布在网上的—&gt; 🤩
            </p>
            <blockquote id="76b9a566-289d-4b29-8274-989123c07982" class="">
              网站一：
              <p id="fe6aed2a-47a0-4cc7-acbd-8f77bf8797ec" class="">
                能够科学上网请访问此网站
              </p>
              <figure id="3e3f3ddc-7e13-417e-a9bc-508534b02b08">
                <a target="_blank" href="https://civitai.com/" class="bookmark source"
                  ><div class="bookmark-info">
                    <div class="bookmark-text">
                      <div class="bookmark-title">
                        Civitai | Stable Diffusion models, embeddings, LoRAs
                        and more
                      </div>
                      <div class="bookmark-description">
                        Civitai is a platform for Stable Diffusion AI Art
                        models. Browse a collection of thousands of models
                        from a growing number of creators. Join an engaged
                        community in reviewing models and sharing images with
                        prompts to get you started.
                      </div>
                    </div>
                    <div class="bookmark-href">
                      <img
                        src="https://civitai.com/favicon.ico"
                        class="icon bookmark-icon"
                      />https://civitai.com/
                    </div>
                  </div></a
                >
              </figure>
              <p id="6dab8998-aff5-4e77-a605-495a4fc85cee" class="">
                不能科学上网访问此网站(上面网站的镜像版本)
              </p>
              <figure id="dac1ae9c-e0bf-45f6-a500-a4cd8b01b239">
                <a target="_blank" href="https://civitai.space/" class="bookmark source"
                  ><div class="bookmark-info">
                    <div class="bookmark-text">
                      <div class="bookmark-title">
                        We&#x27;ll be right back | Civitai
                      </div>
                      <div class="bookmark-description">
                        We&#x27;re adjusting a few things, be back in a few
                        minutes...
                      </div>
                    </div>
                    <div class="bookmark-href">
                      <img
                        src="https://civitai.space/favicon.ico"
                        class="icon bookmark-icon"
                      />https://civitai.space/
                    </div>
                  </div></a
                >
              </figure>
              <figure id="6b17f80a-e76a-4eda-aad6-fe15ec6ca7e4">
                <a target="_blank" href="https://civitai.pro/" class="bookmark source"
                  ><div class="bookmark-info">
                    <div class="bookmark-text">
                      <div class="bookmark-title">
                        Civitai中文官网 - Stable Diffusion模型下载社区
                      </div>
                      <div class="bookmark-description">
                        Civitai中文官网是Civitai.com(C站)的中文镜像站，提供原版Stable
                        Diffusion模型下载，这里是最大的Stable
                        Diffusion中文交流社区
                      </div>
                    </div>
                    <div class="bookmark-href">
                      <img
                        src="https://img.civitai.pro/wp-content/uploads/2023/05/c37-2.png"
                        class="icon bookmark-icon"
                      />https://civitai.pro/
                    </div>
                  </div></a
                >
              </figure>
            </blockquote>
            <blockquote id="40d5de80-c019-40ee-b4d5-6427e52e3997" class="">
              网站二：
              <figure id="fdaa2eb2-8db1-4220-abf2-51a4dddaaa43">
                <a target="_blank" href="https://huggingface.co/" class="bookmark source"
                  ><div class="bookmark-info">
                    <div class="bookmark-text">
                      <div class="bookmark-title">
                        Hugging Face – The AI community building the future.
                      </div>
                      <div class="bookmark-description">
                        We’re on a journey to advance and democratize
                        artificial intelligence through open source and open
                        science.
                      </div>
                    </div>
                    <div class="bookmark-href">
                      <img
                        src="https://huggingface.co/favicon.ico"
                        class="icon bookmark-icon"
                      />https://huggingface.co/
                    </div>
                  </div>
                  <img
                    src="https://huggingface.co/front/thumbnails/v2-2.png"
                    class="bookmark-image"
                /></a>
              </figure>
            </blockquote>
            <blockquote id="72835956-76aa-4b23-a317-bddebd49f3f7" class="">
              网站一和网站二的区别：
              <p id="f12f0375-cb1b-4b6b-8b99-27b7660b6404" class="">
                网站一是全球最大的 stable diffusion
                交流社区，里面提供了各种模型以及由该模型生成的图片（你可以根据你想要生成的图片风格寻找相应的模型，及其方便），网站一则仅仅只是提供了模型文件供我们下载。(It
                is too nerdy)
              </p>
              <p id="bef749f8-42cb-4af0-9cc1-564c22bdfc27" class="">
                网站二是 stable
                diffusion社区发展的急先锋，所以里面的模型文件很丰富，一些元老级人物发布的模型文件都在这里发布，没空去网站一发布，故两种网站你都得玩一下哟。
              </p>
              <p id="cc7fe3f4-b1a8-44fa-9baf-a2ceb3957095" class="">
                Now, Let’s dive into these two we
              </p>
            </blockquote>
          </details>
        </li>
      </ul>
      <ul id="da6a1965-844d-45f2-965a-4a320ff6a781" class="toggle">
        <li>
          <details>
            <summary><strong>模型推荐</strong></summary>
            <ul id="c81298e4-c9d1-4a54-ad43-839c61375b0c" class="toggle">
              <li>
                <details>
                  <summary>
                    万物增强(Anything)（在基础模型的基础上不挑风格的再次训练加强出图质量）
                  </summary>
                  <blockquote
                    id="af38b7e4-1909-4159-bfd3-131aaeacc39a"
                    class=""
                  >
                    <a target="_blank" href="https://civitai.com/models/4384/dreamshaper"
                      >---dreamshaper---</a
                    >
                    (无科学上网请访问
                    <a target="_blank" href="https://civitai.space/models/4384/dreamshaper"
                      >---dreamshaper for China---</a
                    >)
                    <figure
                      id="aaa6075c-de91-4b77-8861-5e5cd17a8fd1"
                      class="image"
                    >
                      <a target="_blank"
                        href="{% static imgUrlPrefix %}/26072224-5775713-(masterpiece)_(extremely_intricate_1.3)_(realistic)_portrait_of_a_girl_the_most_beautiful_in_the_world_(medieval_armor)_me.png"
                        ><img
                          style="width: 336px"
                          src="{% static imgUrlPrefix %}/26072224-5775713-(masterpiece)_(extremely_intricate_1.3)_(realistic)_portrait_of_a_girl_the_most_beautiful_in_the_world_(medieval_armor)_me.png"
                      /></a>
                    </figure>
                    <figure
                      id="82738206-ce14-40bd-9285-a8cb5d221fb4"
                      class="image"
                    >
                      <a target="_blank"
                        href="{% static imgUrlPrefix %}/26072285-951655291-cgmech_(realistic)_solo_white_mecha_robot_cape_science_fiction_torn_clothes_glowing_standing_robot_joints_mecha_armor.png"
                        ><img
                          style="width: 336px"
                          src="{% static imgUrlPrefix %}/26072285-951655291-cgmech_(realistic)_solo_white_mecha_robot_cape_science_fiction_torn_clothes_glowing_standing_robot_joints_mecha_armor.png"
                      /></a>
                    </figure>
                    <figure
                      id="c68a059d-f1d2-4300-b8f1-87cd5caae9c9"
                      class="image"
                    >
                      <a target="_blank"
                        href="{% static imgUrlPrefix %}/26072158-132340247-8k_portrait_of_beautiful_cyborg_with_brown_hair_intricate_elegant_highly_detailed_majestic_digital_photography_art_by_artg_ed.png"
                        ><img
                          style="width: 336px"
                          src="{% static imgUrlPrefix %}/26072158-132340247-8k_portrait_of_beautiful_cyborg_with_brown_hair_intricate_elegant_highly_detailed_majestic_digital_photography_art_by_artg_ed.png"
                      /></a>
                    </figure>
                  </blockquote>
                </details>
              </li>
            </ul>
            <ul id="e9d34c08-a873-43dc-8df3-dda03622a50b" class="toggle">
              <li>
                <details>
                  <summary>虚拟现实主义(CyberRealistic)</summary>
                  <p id="c5a0f121-4eec-4947-a287-e51f151278cb" class="">
                    <a target="_blank" href="https://civitai.com/models/15003"
                      >---CyberRealistic---</a
                    >(无科学上网请访问:
                    <a target="_blank" href="https://civitai.space/models/15003"
                      >---CyberRealistic for China---</a
                    >)
                  </p>
                  <figure
                    id="72a88dc2-333e-4e78-8326-26421171f34f"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/3.314.jpg"
                      ><img
                        style="width: 384px"
                        src="{% static imgUrlPrefix %}/3.314.jpg"
                    /></a>
                  </figure>
                  <figure
                    id="9ecf8a64-decf-47ba-bc0b-332ed77074af"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/3.31.jpg"
                      ><img
                        style="width: 384px"
                        src="{% static imgUrlPrefix %}/3.31.jpg"
                    /></a>
                  </figure>
                  <figure
                    id="bc683528-24cd-4548-97c7-ab005f394eb4"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/3.33.jpg"
                      ><img
                        style="width: 384px"
                        src="{% static imgUrlPrefix %}/3.33.jpg"
                    /></a>
                  </figure>
                  <p id="10d6c678-3a80-4b6a-88d0-185ffc15592e" class=""></p>
                </details>
              </li>
            </ul>
            <ul id="7ffb3a28-2d7e-479b-8408-8d9b8f57b002" class="toggle">
              <li>
                <details>
                  <summary>现实主义风格(Realistic)</summary>
                  <ol
                    type="1"
                    id="5a78f369-2fdd-4df5-b174-ed2d11b8477f"
                    class="numbered-list"
                    start="1"
                  >
                    <li>
                      <a target="_blank" href="https://civitai.com/models/43331"
                        >---mijixRealistic---</a
                      >
                      (无科学上网请访问：<a target="_blank"
                        href="https://civitai.com/models/43331"
                        >---mijixRealistic For China---</a
                      >)
                      <figure
                        id="f709bef0-0fb4-4c8a-baa3-3889ff552b59"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00010-2503085764.jpg"
                          ><img
                            style="width: 384px"
                            src="{% static imgUrlPrefix %}/00010-2503085764.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="a13587b8-7d01-4ee3-ad6d-6361ecbbfc9c"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00011-152811838.jpg"
                          ><img
                            style="width: 384px"
                            src="{% static imgUrlPrefix %}/00011-152811838.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="37f11586-2563-454d-9c84-349a306d59d9"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00000-2926629001.jpg"
                          ><img
                            style="width: 384px"
                            src="{% static imgUrlPrefix %}/00000-2926629001.jpg"
                        /></a>
                      </figure>
                    </li>
                  </ol>
                  <ol
                    type="1"
                    id="c4254972-7538-4477-a4cf-b69e6f1d1d8e"
                    class="numbered-list"
                    start="2"
                  >
                    <li>
                      <a target="_blank" href="https://civitai.com/models/4201"
                        >---Realistic Vision---</a
                      >(无科学上网请访问：
                      <a target="_blank" href="https://civitai.space/models/4201"
                        >---Realistic For China---</a
                      >)
                      <figure
                        id="f9dfd0ce-96ec-4331-bd7f-ffcde7f33466"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00000-1237872118.jpg"
                          ><img
                            style="width: 384px"
                            src="{% static imgUrlPrefix %}/00000-1237872118.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="0285a00d-9c33-4c6d-96cf-b70aaf647dec"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00000-846736070.jpg"
                          ><img
                            style="width: 384px"
                            src="{% static imgUrlPrefix %}/00000-846736070.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="8c9588b4-8a16-4212-8225-3c2555a9e75c"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00000-3379275068.jpg"
                          ><img
                            style="width: 384px"
                            src="{% static imgUrlPrefix %}/00000-3379275068.jpg"
                        /></a>
                      </figure>
                    </li>
                  </ol>
                  <p id="aa2bfd9d-63c8-4396-9ffa-561fbf97e518" class=""></p>
                </details>
              </li>
            </ul>
            <ul id="23d41d61-93cc-48b9-a35d-5f1b51fd338a" class="toggle">
              <li>
                <details>
                  <summary>半现实主义风格(SemiRealistic)</summary>
                  <p id="4fe6ab7e-5875-419a-90d7-f767a273e56d" class="">
                    <a target="_blank" href="https://civitai.com/models/36520"
                      >---Ghost Mix---</a
                    >
                    (无科学上网请访问:
                    <a target="_blank" href="https://civitai.space/models/36520"
                      >---Ghost Mix For China---</a
                    >)
                  </p>
                  <figure
                    id="c0cac254-4ff1-4ccc-9461-11448b3efcec"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/1.jpg"
                      ><img
                        style="width: 384px"
                        src="{% static imgUrlPrefix %}/1.jpg"
                    /></a>
                  </figure>
                  <figure
                    id="4b5b715d-da30-4a2a-b590-850b84822d1e"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/6.jpg"
                      ><img
                        style="width: 384px"
                        src="{% static imgUrlPrefix %}/6.jpg"
                    /></a>
                  </figure>
                  <figure
                    id="ee7c92d2-b710-4e54-8a51-4d6e84c2986f"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/4_(2).jpg"
                      ><img
                        style="width: 384px"
                        src="{% static imgUrlPrefix %}/4_(2).jpg"
                    /></a>
                  </figure>
                  <p id="a3f484f4-788c-41cb-8b1c-9ee7707b2b3b" class=""></p>
                </details>
              </li>
            </ul>
            <ul id="5b0eccb2-8d69-4412-8024-f2ea46f5c6ae" class="toggle">
              <li>
                <details>
                  <summary>动漫风格(Anime)</summary>
                  <ol
                    type="1"
                    id="96c86642-0fc8-4d24-a6cd-daddec239765"
                    class="numbered-list"
                    start="1"
                  >
                    <li>
                      <a target="_blank" href="https://civitai.com/models/9409"
                        >--Anything---</a
                      >(无科学上网请访问:
                      <a target="_blank" href="https://civitai.space/models/9409"
                        >---Anything For China---</a
                      >)
                      <figure
                        id="3e65bb6d-ceb3-4cc7-8b80-06ce847f2c9a"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00049-number-seed.jpg"
                          ><img
                            style="width: 336px"
                            src="{% static imgUrlPrefix %}/00049-number-seed.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="7809a27b-4c65-4d51-9c45-ee969bff3a81"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/00113-number-seed.jpg"
                          ><img
                            style="width: 336px"
                            src="{% static imgUrlPrefix %}/00113-number-seed.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="b22a5d2f-ca7e-4984-b3b4-edbe82e5bd2d"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/10791-number-seed.jpg"
                          ><img
                            style="width: 336px"
                            src="{% static imgUrlPrefix %}/10791-number-seed.jpg"
                        /></a>
                      </figure>
                    </li>
                  </ol>
                  <ol
                    type="1"
                    id="ff352b45-769b-4bf1-9737-26f0cd3d1609"
                    class="numbered-list"
                    start="2"
                  >
                    <li>
                      <a target="_blank" href="https://civitai.com/models/4468"
                        >---CounterFeit---</a
                      >(无科学上网请访问：
                      <a target="_blank" href="https://civitai.space/models/4468"
                        >---CounterFeit For China---</a
                      >)
                      <figure
                        id="ebc24e82-df12-4e8b-b0fe-4de4b23447ec"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/000.jpg"
                          ><img
                            style="width: 336px"
                            src="{% static imgUrlPrefix %}/000.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="fe8a7dea-17be-477f-8ca2-94eba119158f"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/004.jpg"
                          ><img
                            style="width: 624px"
                            src="{% static imgUrlPrefix %}/004.jpg"
                        /></a>
                      </figure>
                      <figure
                        id="dd2c6cc3-2044-461f-b68b-bfc8fa8bc100"
                        class="image"
                      >
                        <a target="_blank"
                          href="{% static imgUrlPrefix %}/003.jpg"
                          ><img
                            style="width: 2048px"
                            src="{% static imgUrlPrefix %}/003.jpg"
                        /></a>
                      </figure>
                    </li>
                  </ol>
                  <p id="0f61d5c9-31ec-41aa-8e68-a52ac3df05c3" class=""></p>
                </details>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <ul id="32fbd0d8-f7d1-46a5-bb5d-c4226294ffa5" class="toggle">
        <li>
          <details>
            <summary><strong>概念预知</strong></summary>
            <ul id="9fc7ccb8-ab74-40bd-b4cb-61d1b47d8cf6" class="toggle">
              <li>
                <details>
                  <summary><strong>Lora</strong></summary>
                  <p id="6a781af6-ba72-4b14-9450-8688d4a19fd1" class="">
                    Lora(<strong>Low-Rank Adaptations</strong>)
                    是一种可以镶嵌在模型的额外模型。还是使用使用最小二乘法来模拟直线去预测未在数据集当中出现的x值所对应的y值，但是所有未出现在数据集当中的x值都能预测吗？显然不是
                  </p>
                  <figure
                    id="70447a16-0f1d-45e7-92f6-3736ad4936f3"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/Untitled.png"
                      ><img
                        style="width: 624px"
                        src="{% static imgUrlPrefix %}/Untitled.png"
                    /></a>
                  </figure>
                  <p id="8a11afa3-74ed-4c29-9aa7-3e20d69a35bc" class="">
                    当你选择跟数据集x值范围风马牛不相及的x值去进行y值预测，预测效果将大大降低。同比到stable
                    diffusion预测图片也是一样的道理，训练模型的数据集不可能包罗万象（一个团队不可能收集包罗万象的数据，并且计算机算力也有限），故产生了Lora，一种可以增加
                    “x值范围” 的模型，也就是可以增加
                    “提示词(Prompts)的范围的模型。
                  </p>
                  <figure
                    id="75b23282-8574-4bfc-bdea-6f16c9892db7"
                    class="image"
                  >
                    <a target="_blank"
                      href="{% static imgUrlPrefix %}/Untitled-2023-08-08-2017.svg"
                      ><img
                        style="width: 624px"
                        src="{% static imgUrlPrefix %}/Untitled-2023-08-08-2017.svg"
                    /></a>
                  </figure>
                  <p id="7582d393-a360-4b1f-a4d0-ef8deafb2eed" class="">
                    <strong
                      ><strong
                        ><strong
                          ><strong
                            ><strong
                              ><strong
                                ><strong
                                  ><strong
                                    ><strong
                                      ><strong
                                        ><strong
                                          ><strong
                                            ><strong
                                              ><strong
                                                ><strong
                                                  ><strong
                                                    ><strong
                                                      ><strong
                                                        ><strong
                                                          ><strong
                                                            ><strong
                                                              ><strong
                                                                ><strong
                                                                  ><strong
                                                                    ><strong
                                                                      ><strong
                                                                        ><strong
                                                                          ><strong
                                                                            ><strong
                                                                              ><strong
                                                                                ><strong
                                                                                  ><strong
                                                                                    ><strong
                                                                                      ><strong
                                                                                        ><strong
                                                                                          ><strong
                                                                                            ><strong
                                                                                              ><strong
                                                                                                ><strong
                                                                                                  ><strong
                                                                                                    ><strong
                                                                                                      ><strong
                                                                                                        ><strong
                                                                                                          ><strong
                                                                                                            >我们会使用一个独立章节介绍Lora，如何使用Lora，如何自己训练一个Lora</strong
                                                                                                          ></strong
                                                                                                        ></strong
                                                                                                      ></strong
                                                                                                    ></strong
                                                                                                  ></strong
                                                                                                ></strong
                                                                                              ></strong
                                                                                            ></strong
                                                                                          ></strong
                                                                                        ></strong
                                                                                      ></strong
                                                                                    ></strong
                                                                                  ></strong
                                                                                ></strong
                                                                              ></strong
                                                                            ></strong
                                                                          ></strong
                                                                        ></strong
                                                                      ></strong
                                                                    ></strong
                                                                  ></strong
                                                                ></strong
                                                              ></strong
                                                            ></strong
                                                          ></strong
                                                        ></strong
                                                      ></strong
                                                    ></strong
                                                  ></strong
                                                ></strong
                                              ></strong
                                            ></strong
                                          ></strong
                                        ></strong
                                      ></strong
                                    ></strong
                                  ></strong
                                ></strong
                              ></strong
                            ></strong
                          ></strong
                        ></strong
                      ></strong
                    >
                  </p>
                </details>
              </li>
            </ul>
            <ul id="358f452c-c44b-4349-8cb0-151709c1e49d" class="toggle">
              <li>
                <details>
                  <summary>
                    <strong>Texture Inversion(Embedding)</strong>
                  </summary>
                  <p id="886703aa-d287-4860-8f0f-aead500d920a" class="">
                    Text Inversion
                    的作用其实类似于Lora，不过文件更小，训练时间更短，并且影响的更多是预测图片的基本逻辑，比如眼睛是圆的，手指正常只有五根。使用Text
                    Inversion多用来改善预测图片的质量
                  </p>
                </details>
              </li>
            </ul>
            <p id="97049a68-248b-43c7-888d-ec1bb03dba4e" class=""></p>
          </details>
        </li>
      </ul>
    </div>
  </article>
</div>
{% endblock %}
